<%- include("partials/header.ejs") %>

<body>
    <div class="header">
        <h1 class="suse-mono name-title"> Hi <%= userName %>! </h1>
    </div>

    <div class="post-page-container">
        <div class="blog-description-container">
            <img src="images/blog-illustration.webp" alt="blog illystration">
            
            <h2 class="jockey-one-regular" >Welcome to your personal blog </h2>
            <p class="red-hat-display" style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum feugiat augue ut iaculis. Proin eu
                congue lacus, sed venenatis diam. Praesent purus ligula, tincidunt eget pharetra id, condimentum non felis. Sed a
                convallis libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec
                non posuere magna.</p>
            <form action="/create" method="POST">
                <input type="hidden" name="userName" value="<%= userName %>">
                <input class="name-btn" type="submit" value="Create Post">
            </form>
        </div>

        <div class="post-array-container"> 
            <% for(let i = 0; i < posts.length; i++) { %> <!--Display each post that is created-->
                <div class="post-container">
                    <h2 class="jockey-one-regular" style="text-align: center;"> <%= posts[i].title %></h2> <!--Display title of post-->
                    <p class="red-hat-display"> <%= posts[i].description %></p> <!--Display post description-->
                    
                    <div class="post-btn-container">
                        <!--Edit button-->
                        <form action="/edit" method="POST"> 
                            <input type="hidden" name="userName" value="<%= userName %>">
                            <input type="hidden" name="postId" value="<%= i %>">
                            <input class="name-btn" type="submit" value="Edit">
                        </form>

                        <!--Delete button-->
                        <form action="/delete" method="POST"> 
                            <input type="hidden" name="userName" value="<%= userName %>">
                            <input type="hidden" name="postId" value="<%= i %>">
                            <input class="name-btn" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            <% };  %>
        </div>
    </div>


<%- include("partials/footer.ejs") %>

</body>

</html>